@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-50: oklch(98.5% 0 0);
  --color-gray-100: oklch(97% 0 0);
  --color-gray-200: oklch(92.2% 0 0);
  --color-gray-300: oklch(87% 0 0);
  --color-gray-400: oklch(70.8% 0 0);
  --color-gray-500: oklch(55.6% 0 0);
  --color-gray-600: oklch(43.9% 0 0);
  --color-gray-700: oklch(37.1% 0 0);
  --color-gray-800: oklch(26.9% 0 0);
  --color-gray-900: oklch(20.5% 0 0);
}
